.gzs_log_card_101 {
	background-position-y: -0%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_102 {
	background-position-y: -0%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_103 {
	background-position-y: -0%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_104 {
	background-position-y: -0%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_105 {
	background-position-y: -0%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_106 {
	background-position-y: -0%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_107 {
	background-position-y: -0%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_108 {
	background-position-y: -0%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_109 {
	background-position-y: -400%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_110 {
	background-position-y: -400%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_111 {
	background-position-y: -400%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_112 {
	background-position-y: -400%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_113 {
	background-position-y: -400%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_114 {
	background-position-y: -400%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_115 {
	background-position-y: -400%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_116 {
	background-position-y: -400%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_117 {
	background-position-y: -800%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_118 {
	background-position-y: -800%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_119 {
	background-position-y: -800%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_120 {
	background-position-y: -800%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_121 {
	background-position-y: -800%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_122 {
	background-position-y: -800%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_123 {
	background-position-y: -800%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_124 {
	background-position-y: -800%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_125 {
	background-position-y: -1200%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_126 {
	background-position-y: -1200%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_127 {
	background-position-y: -1200%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_128 {
	background-position-y: -1200%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_129 {
	background-position-y: -1200%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_130 {
	background-position-y: -1200%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_131 {
	background-position-y: -1200%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_132 {
	background-position-y: -1200%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_133 {
	background-position-y: -1600%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_134 {
	background-position-y: -1600%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_135 {
	background-position-y: -1600%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_136 {
	background-position-y: -1600%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_201 {
	background-position-y: -1600%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_202 {
	background-position-y: -1600%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_203 {
	background-position-y: -1600%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_204 {
	background-position-y: -1600%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_205 {
	background-position-y: -2000%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_206 {
	background-position-y: -2000%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_207 {
	background-position-y: -2000%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_208 {
	background-position-y: -2000%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_209 {
	background-position-y: -2000%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_210 {
	background-position-y: -2000%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_211 {
	background-position-y: -2000%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_212 {
	background-position-y: -2000%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_213 {
	background-position-y: -2400%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_214 {
	background-position-y: -2400%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_215 {
	background-position-y: -2400%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_216 {
	background-position-y: -2400%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_217 {
	background-position-y: -2400%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_218 {
	background-position-y: -2400%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_219 {
	background-position-y: -2400%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_220 {
	background-position-y: -2400%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_221 {
	background-position-y: -2800%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_222 {
	background-position-y: -2800%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_223 {
	background-position-y: -2800%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_224 {
	background-position-y: -2800%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_225 {
	background-position-y: -2800%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_226 {
	background-position-y: -2800%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_227 {
	background-position-y: -2800%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_228 {
	background-position-y: -2800%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 3200%;
}
.gzs_log_card_229 {
	background-position-y: -0%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_230 {
	background-position-y: -0%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_231 {
	background-position-y: -0%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_232 {
	background-position-y: -0%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_233 {
	background-position-y: -0%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_234 {
	background-position-y: -0%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_235 {
	background-position-y: -0%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_236 {
	background-position-y: -400%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_301 {
	background-position-y: -400%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_302 {
	background-position-y: -400%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_303 {
	background-position-y: -400%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_304 {
	background-position-y: -400%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_305 {
	background-position-y: -400%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_306 {
	background-position-y: -400%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_307 {
	background-position-y: -800%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_308 {
	background-position-y: -800%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_309 {
	background-position-y: -800%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_310 {
	background-position-y: -800%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_311 {
	background-position-y: -800%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_312 {
	background-position-y: -800%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_313 {
	background-position-y: -800%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_314 {
	background-position-y: -1200%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_315 {
	background-position-y: -1200%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_316 {
	background-position-y: -1200%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_317 {
	background-position-y: -1200%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_318 {
	background-position-y: -1200%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_319 {
	background-position-y: -1200%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_320 {
	background-position-y: -1200%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_321 {
	background-position-y: -1600%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_322 {
	background-position-y: -1600%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_323 {
	background-position-y: -1600%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_324 {
	background-position-y: -1600%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_325 {
	background-position-y: -1600%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_326 {
	background-position-y: -1600%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_327 {
	background-position-y: -1600%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_328 {
	background-position-y: -2000%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_329 {
	background-position-y: -2000%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_330 {
	background-position-y: -2000%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_331 {
	background-position-y: -2000%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_332 {
	background-position-y: -2000%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_333 {
	background-position-y: -2000%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_334 {
	background-position-y: -2000%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_335 {
	background-position-y: -2400%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
.gzs_log_card_336 {
	background-position-y: -2400%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 2800%;
}
