/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * gizmos implementation : © Fletcheese <1337ch33z@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * gizmos.css
 *
 * gizmos stylesheet
 *
 */

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

#button_cancel, #button_pass, #button_cancelPick {
	background-color: #eee;
    color: #000;
}
#button_pass {
	background-color: #f11;
    color: #fff;
}

#gizmos_board .end_banner, #logs .end_banner {
    color: #fff;
    background: #d83838;
    font-family: Courgette;
    font-size: large;
    text-align: center;
    font-weight: 700;
    border: 2px solid gold;
    border-radius: 6px;
}
#gizmos_board #color_picker {
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
    background-color: white;
    border-radius: 7%;
	box-shadow: 5px 5px 5px grey;
	opacity: 0.9;
}
#gizmos_board div.picker {
	margin: 10px;
}
/* #gizmos_board .card .convert_from {
	right: unset !important;
	left: 0% !important;
	top: 0% !important;
	position: absolute !important;	
}
#gizmos_board .card .convert_from.f2 {
	left: 10% !important;
}
#gizmos_board .card .convert_to {
	left: unset !important;
	right: 10% !important;
	top: 0% !important;
	position: absolute !important;
}
#gizmos_board .card .convert_to.t2 {
	right: 0% !important;
}
#gizmos_board .card .convert_to.t3 {
	top: 10% !important;
}
#gizmos_board .card .convert_to.t4 {
	right: 0% !important;
	top: 10% !important;
} */
#gizmos_board .card .convert_from {
	right: unset;
	left: 0%;
	top: 0%;
	position: absolute;	
}
#gizmos_board .card .convert_from.f2 {
	left: 10%;
}
#gizmos_board .card .convert_to {
	left: unset;
	right: 10%;
	top: 0%;
	position: absolute;
}
#gizmos_board .card .convert_to.t2 {
	right: 0%;
}
#gizmos_board .card .convert_to.t3 {
	top: 10%;
}
#gizmos_board .card .convert_to.t4 {
	right: 0%;
	top: 10%;
}
#gizmos_board .tempnrg {
	filter: opacity(0.7);	
}
#gizmos_board .picker.black_token {
	position: absolute;
	top: 0px;
	left: 0px;
}
#gizmos_board .picker.blue_token {
	position: absolute;
	top: 0px;
	left: 50px;
}
#gizmos_board .picker.red_token {
	position: absolute;
	top: 50px;
	left: 0px;
}
#gizmos_board .picker.yellow_token {
	position: absolute;
	top: 50px;
	left: 50px;
}

#gizmos_board .convert_energy {
	z-index: 101;
}
#gizmos_board .gizmos_container .player_header {
	position: absolute;
	width: 100%;
}
#gizmos_board .gizmos_container .player_name {
	position: absolute;
	padding: 2px;
	border-radius:10%;
    text-shadow: 2px 0 2px #ffffff99, 0 -2px 2px #ffffff99, 0 2px 2px #ffffff99, -2px 0 2px #ffffff99;
    transform-origin: center;
}
#gizmos_board .gizmos_container .archive_header {
	text-align: center;
	margin: auto;
	width:100%;
	color:#fff;
    text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
    transform-origin: center;
    position: relative;
    top: 70%;
}
#gizmos_board .deck .deck_count, #energy_ring #ring_count {
	text-align: center;
	margin: auto;
	width:100%;
	color:#fff;
    text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
    transform-origin: center;
    position: relative;
    top: 5%;
	font-size:20px;
}
#gizmos_board #research_help {
	color:#fff;
    box-shadow: 2px 0 2px #ffffff99, 0 -2px 2px #ffffff99, 0 2px 2px #ffffff99, -2px 0 2px #ffffff99;
    transform-origin: center;
    position: absolute;
	top:3%;
	left:1%;
	width:30px;
	height:30px;
	cursor: help;
	background-image: url('img/help.png');
	background-size: 100% 100%;
	border-radius:100%;
}
#gizmos_board #player_cards {
	align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 0%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-bottom: 0;
    width: 33%;
}
.whiteblock {
	border-radius: 10px;
}

/* float:right;
	height:50px;
	width:50px;
	background-image: url('img/dispenser.png');
	background-size: 50px 50px;
 */

#gizmos_board #energy_ring {
	background-image: url('img/energy_ring1.png');
	position: absolute;
	background-size: 100% 100%;
	width:200px;
	height:200px;	
	border-radius: 100%;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1470px) {
  #gizmos_board #energy_ring {	  
	top:5px;
	left:1010px;
  }
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1469px) {
 
}

#gizmos_board #energy_ring .token {
	position: absolute;
	top: 85px;
	left: 85px;
}

#gizmos_board .active_player {
	font-weight: bold;
	text-decoration: underline;
}

/* #gizmos_board .blue_token, #player_boards .blue_token, #logs .gzs_log_blue {
	background-position: 0px 0px;
	background-position-y: -0%;
	background-position-x: -0%;
}
#gizmos_board .black_token, #player_boards .black_token, #logs .gzs_log_black {
	background-position: -150px 0px;
}
#gizmos_board .red_token, #player_boards .red_token, #logs .gzs_log_red {
	background-position: -180px 0px;
}
#gizmos_board .yellow_token, #player_boards .yellow_token, #logs .gzs_log_yellow {
	background-position: -210px 0px;
} */
#gizmos_board .blue_token, #player_boards .blue_token, #logs .gzs_log_blue {
	background-position-y: -100%;
	background-position-x: -0%;
}
#gizmos_board .black_token, #player_boards .black_token, #logs .gzs_log_black {
	background-position-y: -100%;
	background-position-x: -100%;
}
#gizmos_board .red_token, #player_boards .red_token, #logs .gzs_log_red {
	background-position-y: -0%;
	background-position-x: -100%;
}
#gizmos_board .yellow_token, #player_boards .yellow_token, #logs .gzs_log_yellow {
	background-position-y: -0%;
	background-position-x: -0%;
}
#logs .gzs_log_token {
	background-size: 200% 200%;
	background-image: url('img/marbles.jpg');
	width: 15px;
	height: 15px;
	background-repeat: none;
	border-radius: 100%;
	display: inline-block;
}
#gizmos_board .token {
	background-size: 200% 200%;
	background-image: url('img/marbles.jpg');
	width: 30px;
	height: 30px;
	background-repeat: none;
	cursor: pointer;
	margin: 10px;
	border-radius: 100%;
	z-index: 100;
}
#gizmos_board .card .token {
	position: absolute;
}

#player_boards .counter_pair {
	width:14%;
	display:inline-block;
	padding:5px;
    cursor: help;
}
#player_boards .counter_pair2 {
	width:14%;
	display:inline-block;
	padding:5px;
    cursor: help;
}
#player_boards .count_0 {
	opacity: .5;
}
#player_boards .counter.full, #energy_ring #ring_count.full {
	color: #f88;
}
#player_boards .counter {
	text-align: center;
	font-size: 20px;
	color: #fff;
    top: 2px;
    position: relative;
	color: #fff;
    text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
    transform-origin: center;
}
#player_boards .counter_token {
	background-image: url('img/marbles.jpg');
	background-size: 200% 200%;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
#player_boards .counter_all {
	background-image: url('img/multimarble.jpg');
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
#player_boards #gzs_first_player {
	padding:5px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-size: 20px;
    position: relative;
    text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
    transform-origin: center;
    cursor: help;
}
#gizmos_board .vp, #player_boards .vp {
	height: 30px;
	width: 20px;
	margin-right: 3px;
	border-radius: 5px;
	float: left;
	background-image: url('img/vp.png');    
	margin-left: 5px;
    margin-right: 5px;
}
#logs .gzs_log_vp {
	background-size:100%;
	height: 15px;
	width: 10px;
	background-image: url('img/vp_transp.png');
	display: inline-block;
}
#player_boards .gizmos_all {
	background-position-y: -600%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
	border-radius: 7%;
    display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-right:5px;
}
#player_boards .gizmos_3s {
	background-position-y: -600%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
	border-radius: 7%;
    display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-right:2px;
}
#player_boards .gizmos_archive {
	background-size: 100% 100%;
    background-image: url('img/archive.png');
    display: block;
	width: 35px;
	height: 25px;
	float: left;
	margin-right:2px;
	margin-bottom:2px;
}
#player_boards .gizmos_research {
	background-size: 100% 100%;
    background-image: url(img/research.png);
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}

#gizmos_board {
	max-width: 1000px;
	margin:auto;
}

#gizmos_board #sphere_row_outer {
	min-height: 50px;
    width: 400px;
	vertical-align: middle;
    margin: auto;
}
/*
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
*/
#gizmos_board #dispenser {
    float: left;
    height: 70px;
    width: 70px;
    background-image: url('img/dispenser_new.jpg');
    background-size: 50px 50px;
    border: grey groove;
    border-radius: 20px;
}
#gizmos_board #sphere_row {
    float: left;
    margin-top: 19px;
    border-bottom: 5px grey groove;
    border-top: 5px grey groove;
    border-right: 5px grey groove;
	background-image: url('img/dispenser_bottom.jpg');
	background-size: 100% 100%;
	width:300px;
	height:34px;
}
#gizmos_board #sphere_row .token {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	left: -40px;
    position: absolute;
}
#gizmos_board #sphere_row .token.next_nrg {
	opacity: 0.7;
    cursor: help;
}
.tooltipcard {
	height: 300px;
	width: 300px;
}
.tooltip_desc {
	font-size: 24px;
	text-align: center;
	margin: auto;
	width: 280px;
	padding: 10px;
}

#gizmos_board .row_1, #gizmos_board #deck_1 {
	width: 18%;
	height: auto;
	aspect-ratio: 1;
	margin: 1%;
	float: left;
}
#gizmos_board .row_2, #gizmos_board #deck_2 {
	width: 23%;
	height: auto;
	aspect-ratio: 1;
	margin: 1%;
	float: left;
}
#gizmos_board .row_3, #gizmos_board #deck_3 {
	width: 30.3%;
	height: auto;
	aspect-ratio: 1;
	margin: 1.5%;
	float: left;
}
#gizmos_board #row_2 {
	margin-left: 10%;
	margin-right: 10%;
}
#gizmos_board #row_3 {
	margin-left: 20%;
	margin-right: 20%;
}

#gizmos_board .selected {
	outline: 5px solid #5dff35;
}
#gizmos_board .half_selected {
	outline: 5px dotted #5dff35;
}
#gizmos_board .highlighted {
	box-shadow: -10px -10px 8px orange, -10px 10px 8px orange, 10px -10px 8px orange, 10px 10px 8px orange;
	border-radius: 7%;
}
#gizmos_board .research {
	width: 100%;
}
#gizmos_board .research_dialog {
	width: 100%;
}
#gizmos_board .researched {
	height:auto;
	width:18%;
	aspect-ratio:1;
	margin:1%;
	float:left;
}

#gizmos_board .arrow {
	display: inline-block;
	position:relative;
	top:40%;
	width:20%;
	height:20%;
	border-radius:100%;
	opacity:0.5;
	outline: 2px solid white;
	background-size: 100% 100%;
	padding:0%;
	margin:0%;
}
#gizmos_board .arrow.right {
	background-image: url('img/right.jpg');
	left: 58%;
}
#gizmos_board .arrow.left {
	background-image: url('img/left.jpg');
}

#gizmos_board .mycards {
    align-items: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin: 2% 1%;
    padding-bottom: 0;
    position: relative;
    width: 100%;
}

#gizmos_board .gizmos_container {
	min-height: 60px;
	max-width: 1000px;
}
#gizmos_board .gizmos_columns {
	width: 100%;
	margin-right: 10%;
}
#gizmos_board .gizmos_columns .card {
	position: absolute;
	top: -50px;
}
#gizmos_board .gizmo_track {
    background-image: url('img/playerboard.png');
	height: auto;
	width: 100%;
	aspect-ratio: 90 / 7;
	background-size: contain;
    background-repeat: no-repeat;	
}
#gizmos_board .gizmo_track_first {
    background-image: url('img/playerboard_first.png');
	height: auto;
	width: 100%;
	aspect-ratio: 90 / 7;
	background-size: contain;
    background-repeat: no-repeat;	
}
#gizmos_board .track_slot {
	height: 100%;
	width: 15.5%;
	float:left;
	margin-left:1%;
	margin-right:1%;
    cursor: help;
}
#gizmos_board .track_archive {
	height: 100%;
	width: 10.5%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	vertical-align: middle;
    cursor: help;
}
.gzs_track_tooltip {
    background-image: url('img/playerboard.png');
	width: 572.7px;
	height: 245px;
}
.track_tooltip_archive.gzs_track_tooltip {
	width: 286.4px;
}
#gizmos_board .gizmos_column {
	display:inline-block;
    vertical-align: top;
	width:15.5%;
	margin-left:1%;
	margin-right:1%;
	min-height:1px;
}
#gizmos_board .archive {
	display:inline-block;
    vertical-align: top;
	width:10.5%;
	margin-left:1%;
	margin-right:1%;
	min-height:1px;	
}
#gizmos_board .triggerable {
	outline: 5px solid #0f0;
	cursor: pointer;
	border-radius: 3%;
}
#gizmos_board .already_used {
	filter: grayscale(1);
	opacity: 0.7;
}
#gizmos_board .selectable {
	cursor: pointer;
}
#gizmos_board .converter {
	cursor: pointer;	
}
#gizmos_board .built, #gizmos_board .filed {
	width:100%;
	height:auto;
	aspect-ratio:1;
}
#gizmos_board .card, #gizmos_board .deck, .dijitTooltip .card {
	border-radius: 7%;
    display: block;
	box-shadow: 5px 5px 5px grey;
}
#gizmos_board #card_101, .dijitTooltip #card_101 {
	background-position-y: -0%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_102, .dijitTooltip #card_102 {
	background-position-y: -0%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_103, .dijitTooltip #card_103 {
	background-position-y: -0%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_104, .dijitTooltip #card_104 {
	background-position-y: -0%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_105, .dijitTooltip #card_105 {
	background-position-y: -0%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_106, .dijitTooltip #card_106 {
	background-position-y: -0%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_107, .dijitTooltip #card_107 {
	background-position-y: -0%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_108, .dijitTooltip #card_108 {
	background-position-y: -0%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_109, .dijitTooltip #card_109 {
	background-position-y: -100%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_110, .dijitTooltip #card_110 {
	background-position-y: -100%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_111, .dijitTooltip #card_111 {
	background-position-y: -100%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_112, .dijitTooltip #card_112 {
	background-position-y: -100%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_113, .dijitTooltip #card_113 {
	background-position-y: -100%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_114, .dijitTooltip #card_114 {
	background-position-y: -100%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_115, .dijitTooltip #card_115 {
	background-position-y: -100%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_116, .dijitTooltip #card_116 {
	background-position-y: -100%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_117, .dijitTooltip #card_117 {
	background-position-y: -200%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_118, .dijitTooltip #card_118 {
	background-position-y: -200%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_119, .dijitTooltip #card_119 {
	background-position-y: -200%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_120, .dijitTooltip #card_120 {
	background-position-y: -200%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_121, .dijitTooltip #card_121 {
	background-position-y: -200%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_122, .dijitTooltip #card_122 {
	background-position-y: -200%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_123, .dijitTooltip #card_123 {
	background-position-y: -200%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_124, .dijitTooltip #card_124 {
	background-position-y: -200%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_125, .dijitTooltip #card_125 {
	background-position-y: -300%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_126, .dijitTooltip #card_126 {
	background-position-y: -300%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_127, .dijitTooltip #card_127 {
	background-position-y: -300%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_128, .dijitTooltip #card_128 {
	background-position-y: -300%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_129, .dijitTooltip #card_129 {
	background-position-y: -300%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_130, .dijitTooltip #card_130 {
	background-position-y: -300%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_131, .dijitTooltip #card_131 {
	background-position-y: -300%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_132, .dijitTooltip #card_132 {
	background-position-y: -300%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_133, .dijitTooltip #card_133 {
	background-position-y: -400%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_134, .dijitTooltip #card_134 {
	background-position-y: -400%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_135, .dijitTooltip #card_135 {
	background-position-y: -400%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_136, .dijitTooltip #card_136 {
	background-position-y: -400%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_201, .dijitTooltip #card_201 {
	background-position-y: -400%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_202, .dijitTooltip #card_202 {
	background-position-y: -400%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_203, .dijitTooltip #card_203 {
	background-position-y: -400%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_204, .dijitTooltip #card_204 {
	background-position-y: -400%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_205, .dijitTooltip #card_205 {
	background-position-y: -500%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_206, .dijitTooltip #card_206 {
	background-position-y: -500%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_207, .dijitTooltip #card_207 {
	background-position-y: -500%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_208, .dijitTooltip #card_208 {
	background-position-y: -500%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_209, .dijitTooltip #card_209 {
	background-position-y: -500%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_210, .dijitTooltip #card_210 {
	background-position-y: -500%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_211, .dijitTooltip #card_211 {
	background-position-y: -500%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_212, .dijitTooltip #card_212 {
	background-position-y: -500%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_213, .dijitTooltip #card_213 {
	background-position-y: -600%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_214, .dijitTooltip #card_214 {
	background-position-y: -600%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_215, .dijitTooltip #card_215 {
	background-position-y: -600%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_216, .dijitTooltip #card_216 {
	background-position-y: -600%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_217, .dijitTooltip #card_217 {
	background-position-y: -600%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_218, .dijitTooltip #card_218 {
	background-position-y: -600%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_219, .dijitTooltip #card_219 {
	background-position-y: -600%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_220, .dijitTooltip #card_220 {
	background-position-y: -600%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_221, .dijitTooltip #card_221 {
	background-position-y: -700%;
	background-position-x: -0%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_222, .dijitTooltip #card_222 {
	background-position-y: -700%;
	background-position-x: -100%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_223, .dijitTooltip #card_223 {
	background-position-y: -700%;
	background-position-x: -200%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_224, .dijitTooltip #card_224 {
	background-position-y: -700%;
	background-position-x: -300%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_225, .dijitTooltip #card_225 {
	background-position-y: -700%;
	background-position-x: -400%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_226, .dijitTooltip #card_226 {
	background-position-y: -700%;
	background-position-x: -500%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_227, .dijitTooltip #card_227 {
	background-position-y: -700%;
	background-position-x: -600%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_228, .dijitTooltip #card_228 {
	background-position-y: -700%;
	background-position-x: -700%;
	background-image: url('img/sheet1.jpg');
	background-size: 800% 800%;
}
#gizmos_board #card_229, .dijitTooltip #card_229 {
	background-position-y: -0%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_230, .dijitTooltip #card_230 {
	background-position-y: -0%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_231, .dijitTooltip #card_231 {
	background-position-y: -0%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_232, .dijitTooltip #card_232 {
	background-position-y: -0%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_233, .dijitTooltip #card_233 {
	background-position-y: -0%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_234, .dijitTooltip #card_234 {
	background-position-y: -0%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_235, .dijitTooltip #card_235 {
	background-position-y: -0%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_236, .dijitTooltip #card_236 {
	background-position-y: -100%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_301, .dijitTooltip #card_301 {
	background-position-y: -100%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_302, .dijitTooltip #card_302 {
	background-position-y: -100%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_303, .dijitTooltip #card_303 {
	background-position-y: -100%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_304, .dijitTooltip #card_304 {
	background-position-y: -100%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_305, .dijitTooltip #card_305 {
	background-position-y: -100%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_306, .dijitTooltip #card_306 {
	background-position-y: -100%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_307, .dijitTooltip #card_307 {
	background-position-y: -200%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_308, .dijitTooltip #card_308 {
	background-position-y: -200%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_309, .dijitTooltip #card_309 {
	background-position-y: -200%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_310, .dijitTooltip #card_310 {
	background-position-y: -200%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_311, .dijitTooltip #card_311 {
	background-position-y: -200%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_312, .dijitTooltip #card_312 {
	background-position-y: -200%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_313, .dijitTooltip #card_313 {
	background-position-y: -200%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_314, .dijitTooltip #card_314 {
	background-position-y: -300%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_315, .dijitTooltip #card_315 {
	background-position-y: -300%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_316, .dijitTooltip #card_316 {
	background-position-y: -300%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_317, .dijitTooltip #card_317 {
	background-position-y: -300%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_318, .dijitTooltip #card_318 {
	background-position-y: -300%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_319, .dijitTooltip #card_319 {
	background-position-y: -300%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_320, .dijitTooltip #card_320 {
	background-position-y: -300%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_321, .dijitTooltip #card_321 {
	background-position-y: -400%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_322, .dijitTooltip #card_322 {
	background-position-y: -400%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_323, .dijitTooltip #card_323 {
	background-position-y: -400%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_324, .dijitTooltip #card_324 {
	background-position-y: -400%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_325, .dijitTooltip #card_325 {
	background-position-y: -400%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_326, .dijitTooltip #card_326 {
	background-position-y: -400%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_327, .dijitTooltip #card_327 {
	background-position-y: -400%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_328, .dijitTooltip #card_328 {
	background-position-y: -500%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_329, .dijitTooltip #card_329 {
	background-position-y: -500%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_330, .dijitTooltip #card_330 {
	background-position-y: -500%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_331, .dijitTooltip #card_331 {
	background-position-y: -500%;
	background-position-x: -300%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_332, .dijitTooltip #card_332 {
	background-position-y: -500%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_333, .dijitTooltip #card_333 {
	background-position-y: -500%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_334, .dijitTooltip #card_334 {
	background-position-y: -500%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_335, .dijitTooltip #card_335 {
	background-position-y: -600%;
	background-position-x: -0%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_336, .dijitTooltip #card_336 {
	background-position-y: -600%;
	background-position-x: -100%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #card_901, #gizmos_board #card_902, #gizmos_board #card_903, #gizmos_board #card_904, .dijitTooltip #card_901, .dijitTooltip #card_902, .dijitTooltip #card_903, .dijitTooltip #card_904 {
	background-position-y: -600%;
	background-position-x: -200%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #deck_1, .gzs_fd_card_1 {
	background-position-y: -600%;
	background-position-x: -400%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #deck_2, .gzs_fd_card_2 {
	background-position-y: -600%;
	background-position-x: -500%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}
#gizmos_board #deck_3, .gzs_fd_card_3 {
	background-position-y: -600%;
	background-position-x: -600%;
	background-image: url('img/sheet2.jpg');
	background-size: 700% 700%;
}


