/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * gizmos implementation : © Fletcheese <1337ch33z@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * gizmos.css
 *
 * gizmos stylesheet
 *
 */

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

#gizmos_board .end_banner, #logs .end_banner {
    color: #fff;
    background: #d83838;
    font-family: Courgette;
    font-size: large;
    text-align: center;
    font-weight: 700;
    border: 2px solid gold;
    border-radius: 6px;
}
#gizmos_board #color_picker {
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
    background-color: white;
    border-radius: 7%;
	box-shadow: 5px 5px 5px grey;
	opacity: 0.9;
}
#gizmos_board div.picker {
	margin: 10px;
}
/* #gizmos_board .card .convert_from {
	right: unset !important;
	left: 0% !important;
	top: 0% !important;
	position: absolute !important;	
}
#gizmos_board .card .convert_from.f2 {
	left: 10% !important;
}
#gizmos_board .card .convert_to {
	left: unset !important;
	right: 10% !important;
	top: 0% !important;
	position: absolute !important;
}
#gizmos_board .card .convert_to.t2 {
	right: 0% !important;
}
#gizmos_board .card .convert_to.t3 {
	top: 10% !important;
}
#gizmos_board .card .convert_to.t4 {
	right: 0% !important;
	top: 10% !important;
} */
#gizmos_board .card .convert_from {
	right: unset;
	left: 0%;
	top: 0%;
	position: absolute;	
}
#gizmos_board .card .convert_from.f2 {
	left: 10%;
}
#gizmos_board .card .convert_to {
	left: unset;
	right: 10%;
	top: 0%;
	position: absolute;
}
#gizmos_board .card .convert_to.t2 {
	right: 0%;
}
#gizmos_board .card .convert_to.t3 {
	top: 10%;
}
#gizmos_board .card .convert_to.t4 {
	right: 0%;
	top: 10%;
}
#gizmos_board .tempnrg {
	filter: opacity(0.7);	
}
#gizmos_board .picker.black_token {
	position: absolute;
	top: 0px;
	left: 0px;
}
#gizmos_board .picker.blue_token {
	position: absolute;
	top: 0px;
	left: 50px;
}
#gizmos_board .picker.red_token {
	position: absolute;
	top: 50px;
	left: 0px;
}
#gizmos_board .picker.yellow_token {
	position: absolute;
	top: 50px;
	left: 50px;
}

#gizmos_board .convert_energy {
	z-index: 101;
}
#gizmos_board .player_name {
	background-color: #fff;
	opacity: 0.5;
	padding: 2px;
}
#gizmos_board #player_cards {
	align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 0%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-bottom: 0;
    width: 33%;
}
.whiteblock {
	border-radius: 10px;
}

/* float:right;
	height:50px;
	width:50px;
	background-image: url('img/dispenser.png');
	background-size: 50px 50px;
 */

#gizmos_board #energy_ring {
	background-image: url('img/energy_ring1.png');
	position: absolute;
	background-size: 100% 100%;
	width:200px;
	height:200px;	
	border-radius: 100%;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1470px) {
  #gizmos_board #energy_ring {	  
	top:5px;
	left:1010px;
  }
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1469px) {
  #gizmos_board #energy_ring {	  
	top:200px;
	right:0px;
  }
}

#gizmos_board #energy_ring .token {
	position: absolute;
	top: 85px;
	left: 85px;
}

#gizmos_board .active_player {
	font-weight: bold;
	text-decoration: underline;
}

/* #gizmos_board .blue_token, #player_boards .blue_token, #logs .gzs_log_blue {
	background-position: 0px 0px;
	background-position-y: -0%;
	background-position-x: -0%;
}
#gizmos_board .black_token, #player_boards .black_token, #logs .gzs_log_black {
	background-position: -150px 0px;
}
#gizmos_board .red_token, #player_boards .red_token, #logs .gzs_log_red {
	background-position: -180px 0px;
}
#gizmos_board .yellow_token, #player_boards .yellow_token, #logs .gzs_log_yellow {
	background-position: -210px 0px;
} */
#gizmos_board .blue_token, #player_boards .blue_token, #logs .gzs_log_blue {
	background-position-y: -100%;
	background-position-x: -0%;
}
#gizmos_board .black_token, #player_boards .black_token, #logs .gzs_log_black {
	background-position-y: -100%;
	background-position-x: -100%;
}
#gizmos_board .red_token, #player_boards .red_token, #logs .gzs_log_red {
	background-position-y: -0%;
	background-position-x: -100%;
}
#gizmos_board .yellow_token, #player_boards .yellow_token, #logs .gzs_log_yellow {
	background-position-y: -0%;
	background-position-x: -0%;
}
#logs .gzs_log_token {
	background-size: 200% 200%;
	background-image: url('img/marbles.jpg');
	width: 15px;
	height: 15px;
	background-repeat: none;
	border-radius: 100%;
	display: inline-block;
}
#gizmos_board .token {
	background-size: 200% 200%;
	background-image: url('img/marbles.jpg');
	width: 30px;
	height: 30px;
	background-repeat: none;
	cursor: pointer;
	margin: 10px;
	border-radius: 100%;
	z-index: 100;
}
#gizmos_board .card .token {
	position: absolute;
}

#player_boards .counter_pair {
	width:14%;
	display:inline-block;
	padding:5px;
    cursor: help;
}
#player_boards .counter_pair2 {
	width:14%;
	display:inline-block;
	padding:5px;
    cursor: help;
}
#player_boards .count_0 {
	opacity: .5;
}
#player_boards .counter.full {
	color: #f88;
}
#player_boards .counter {
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-size: 20px;
    top: 2px;
    position: relative;
    text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
    transform-origin: center;
}
#player_boards .counter_token {
	background-image: url('img/marbles.jpg');
	background-size: 200% 200%;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
#player_boards .counter_all {
	background-image: url('img/multimarble.jpg');
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
#player_boards #gzs_first_player {
	padding:5px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-size: 20px;
    position: relative;
    text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
    transform-origin: center;
    cursor: help;
}
#gizmos_board .vp, #player_boards .vp {
	height: 30px;
	width: 20px;
	margin-right: 3px;
	border-radius: 5px;
	float: left;
	background-image: url('img/vp.png');    
	margin-left: 5px;
    margin-right: 5px;
}
#logs .gzs_log_vp {
	background-size:100%;
	height: 15px;
	width: 10px;
	background-image: url('img/vp_transp.png');
	display: inline-block;
}
#player_boards .gizmos_all {
	border-radius: 7%;
    background-image: url('img/mixed_card.jpg');
    display: block;
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	float: left;
	margin-right:5px;
}
#player_boards .gizmos_3s {
	background-position-y: -1000%;
	background-position-x: -100%;
	border-radius: 7%;
    background-image: url('img/spritesheet_compact.jpg');
    display: block;
	background-size: 1100% 1100%;
	width: 30px;
	height: 30px;
	float: left;
	margin-right:2px;
}
#player_boards .gizmos_archive {
	background-size: 100% 100%;
    background-image: url('img/archive.png');
    display: block;
	width: 35px;
	height: 25px;
	float: left;
	margin-right:2px;
	margin-bottom:2px;
}
#player_boards .gizmos_research {
	background-size: 100% 100%;
    background-image: url(img/research.png);
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}

#gizmos_board {
	max-width: 1000px;
	margin:auto;
}

#gizmos_board #sphere_row_outer {
	min-height: 50px;
    width: 385px;
    margin: auto;
}
/*
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
*/
#gizmos_board #dispenser {
    float: left;
    height: 70px;
    width: 70px;
    background-image: url('img/dispenser_new.jpg');
    background-size: 50px 50px;
    border: grey groove;
    border-radius: 20px;
}
#gizmos_board #sphere_row {
    float: left;
    margin-top: 15px;
    border-bottom: 5px grey groove;
    border-top: 5px grey groove;
    border-right: 5px grey groove;
	background-image: url('img/dispenser_bottom.jpg');
	background-size: 100% 100%;
	width:300px;
	height:34px;
}
#gizmos_board #sphere_row .token {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	left: -50px;
    position: absolute;
}
.tooltipcard {
	height: 500px;
	width: 500px;
}
.tooltip_desc {
	font-size: 24px;
	text-align: center;
	margin: auto;
	width: 480px;
	padding: 10px;
}

#gizmos_board .row_1, #gizmos_board #deck_1 {
	width: 18%;
	height: auto;
	aspect-ratio: 1;
	margin: 1%;
	float: left;
}
#gizmos_board .row_2, #gizmos_board #deck_2 {
	width: 23%;
	height: auto;
	aspect-ratio: 1;
	margin: 1%;
	float: left;
}
#gizmos_board .row_3, #gizmos_board #deck_3 {
	width: 30.3%;
	height: auto;
	aspect-ratio: 1;
	margin: 1.5%;
	float: left;
}
#gizmos_board #row_2 {
	margin-left: 10%;
	margin-right: 10%;
}
#gizmos_board #row_3 {
	margin-left: 20%;
	margin-right: 20%;
}

#gizmos_board .selected {
	outline: 5px solid #5dff35;
}
#gizmos_board .half_selected {
	outline: 5px dotted #5dff35;
}
#gizmos_board .research {
	width: 100%;
}
#gizmos_board .research_dialog {
	width: 100%;
}
#gizmos_board .researched {
	height:auto;
	width:18%;
	aspect-ratio:1;
	margin:1%;
	float:left;
}

#gizmos_board .mycards {
    align-items: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin: 2% 1%;
    padding-bottom: 0;
    position: relative;
    width: 100%;
}

#gizmos_board .gizmos_container {
	min-height: 60px;
	max-width: 1000px;
}
#gizmos_board .gizmos_columns {
	width: 100%;
	margin-right: 10%;
}
#gizmos_board .gizmos_columns .card {
	position: absolute;
	top: -50px;
}
#gizmos_board .gizmo_track {
    background-image: url('img/playerboard.png');
	height: auto;
	width: 100%;
	aspect-ratio: 90 / 7;
	background-size: contain;
    background-repeat: no-repeat;	
}
#gizmos_board .gizmo_track_first {
    background-image: url('img/playerboard_first.png');
	height: auto;
	width: 100%;
	aspect-ratio: 90 / 7;
	background-size: contain;
    background-repeat: no-repeat;	
}
#gizmos_board .gizmos_column {
	float:left;
	width:15.5%;
	margin-left:1%;
	margin-right:1%;
	min-height:1px;
}
#gizmos_board .archive {
	float:left;
	width:10.5%;
	margin-left:1%;
	margin-right:1%;
	min-height:1px;	
}
#gizmos_board .triggerable {
	outline: 5px solid #0f0;
	cursor: pointer;
	border-radius: 3%;
}
#gizmos_board .already_used {
	filter: grayscale(1);
	opacity: 0.7;
}
#gizmos_board .selectable {
	cursor: pointer;
}
#gizmos_board .converter {
	cursor: pointer;	
}
#gizmos_board .built, #gizmos_board .filed {
	width:100%;
	height:auto;
	aspect-ratio:1;
}
#gizmos_board .card, #gizmos_board .deck, .dijitTooltip .card {
	border-radius: 7%;
    background-image: url('img/spritesheet_compact.jpg');
    display: block;
	background-size: 1100% 1100%;
	box-shadow: 5px 5px 5px grey;
}

#card_101 {
	background-position-y: -0%;
	background-position-x: -0%;
}
#card_102 {
	background-position-y: -0%;
	background-position-x: -100%;
}
#card_103 {
	background-position-y: -0%;
	background-position-x: -200%;
}
#card_104 {
	background-position-y: -0%;
	background-position-x: -300%;
}
#card_105 {
	background-position-y: -0%;
	background-position-x: -400%;
}
#card_106 {
	background-position-y: -0%;
	background-position-x: -500%;
}
#card_107 {
	background-position-y: -0%;
	background-position-x: -600%;
}
#card_108 {
	background-position-y: -0%;
	background-position-x: -700%;
}
#card_109 {
	background-position-y: -0%;
	background-position-x: -800%;
}
#card_110 {
	background-position-y: -0%;
	background-position-x: -900%;
}
#card_111 {
	background-position-y: -100%;
	background-position-x: -0%;
}
#card_112 {
	background-position-y: -100%;
	background-position-x: -100%;
}
#card_113 {
	background-position-y: -100%;
	background-position-x: -200%;
}
#card_114 {
	background-position-y: -100%;
	background-position-x: -300%;
}
#card_115 {
	background-position-y: -100%;
	background-position-x: -400%;
}
#card_116 {
	background-position-y: -100%;
	background-position-x: -500%;
}
#card_117 {
	background-position-y: -100%;
	background-position-x: -600%;
}
#card_118 {
	background-position-y: -100%;
	background-position-x: -700%;
}
#card_119 {
	background-position-y: -100%;
	background-position-x: -800%;
}
#card_120 {
	background-position-y: -100%;
	background-position-x: -900%;
}
#card_121 {
	background-position-y: -200%;
	background-position-x: -0%;
}
#card_122 {
	background-position-y: -200%;
	background-position-x: -100%;
}
#card_123 {
	background-position-y: -200%;
	background-position-x: -200%;
}
#card_124 {
	background-position-y: -200%;
	background-position-x: -300%;
}
#card_125 {
	background-position-y: -200%;
	background-position-x: -400%;
}
#card_126 {
	background-position-y: -200%;
	background-position-x: -500%;
}
#card_127 {
	background-position-y: -200%;
	background-position-x: -600%;
}
#card_128 {
	background-position-y: -200%;
	background-position-x: -700%;
}
#card_129 {
	background-position-y: -200%;
	background-position-x: -800%;
}
#card_130 {
	background-position-y: -200%;
	background-position-x: -900%;
}
#card_131 {
	background-position-y: -300%;
	background-position-x: -0%;
}
#card_132 {
	background-position-y: -300%;
	background-position-x: -100%;
}
#card_133 {
	background-position-y: -300%;
	background-position-x: -200%;
}
#card_134 {
	background-position-y: -300%;
	background-position-x: -300%;
}
#card_135 {
	background-position-y: -300%;
	background-position-x: -400%;
}
#card_136 {
	background-position-y: -300%;
	background-position-x: -500%;
}
#card_201 {
	background-position-y: -300%;
	background-position-x: -600%;
}
#card_202 {
	background-position-y: -300%;
	background-position-x: -700%;
}
#card_203 {
	background-position-y: -300%;
	background-position-x: -800%;
}
#card_204 {
	background-position-y: -300%;
	background-position-x: -900%;
}
#card_205 {
	background-position-y: -400%;
	background-position-x: -0%;
}
#card_206 {
	background-position-y: -400%;
	background-position-x: -100%;
}
#card_207 {
	background-position-y: -400%;
	background-position-x: -200%;
}
#card_208 {
	background-position-y: -400%;
	background-position-x: -300%;
}
#card_209 {
	background-position-y: -400%;
	background-position-x: -400%;
}
#card_210 {
	background-position-y: -400%;
	background-position-x: -500%;
}
#card_211 {
	background-position-y: -400%;
	background-position-x: -600%;
}
#card_212 {
	background-position-y: -400%;
	background-position-x: -700%;
}
#card_213 {
	background-position-y: -400%;
	background-position-x: -800%;
}
#card_214 {
	background-position-y: -400%;
	background-position-x: -900%;
}
#card_215 {
	background-position-y: -500%;
	background-position-x: -0%;
}
#card_216 {
	background-position-y: -500%;
	background-position-x: -100%;
}
#card_217 {
	background-position-y: -500%;
	background-position-x: -200%;
}
#card_218 {
	background-position-y: -500%;
	background-position-x: -300%;
}
#card_219 {
	background-position-y: -500%;
	background-position-x: -400%;
}
#card_220 {
	background-position-y: -500%;
	background-position-x: -500%;
}
#card_221 {
	background-position-y: -500%;
	background-position-x: -600%;
}
#card_222 {
	background-position-y: -500%;
	background-position-x: -700%;
}
#card_223 {
	background-position-y: -500%;
	background-position-x: -800%;
}
#card_224 {
	background-position-y: -500%;
	background-position-x: -900%;
}
#card_225 {
	background-position-y: -600%;
	background-position-x: -0%;
}
#card_226 {
	background-position-y: -600%;
	background-position-x: -100%;
}
#card_227 {
	background-position-y: -600%;
	background-position-x: -200%;
}
#card_228 {
	background-position-y: -600%;
	background-position-x: -300%;
}
#card_229 {
	background-position-y: -600%;
	background-position-x: -400%;
}
#card_230 {
	background-position-y: -600%;
	background-position-x: -500%;
}
#card_231 {
	background-position-y: -600%;
	background-position-x: -600%;
}
#card_232 {
	background-position-y: -600%;
	background-position-x: -700%;
}
#card_233 {
	background-position-y: -600%;
	background-position-x: -800%;
}
#card_234 {
	background-position-y: -600%;
	background-position-x: -900%;
}
#card_235 {
	background-position-y: -700%;
	background-position-x: -0%;
}
#card_236 {
	background-position-y: -700%;
	background-position-x: -100%;
}
#card_301 {
	background-position-y: -700%;
	background-position-x: -200%;
}
#card_302 {
	background-position-y: -700%;
	background-position-x: -300%;
}
#card_303 {
	background-position-y: -700%;
	background-position-x: -400%;
}
#card_304 {
	background-position-y: -700%;
	background-position-x: -500%;
}
#card_305 {
	background-position-y: -700%;
	background-position-x: -600%;
}
#card_306 {
	background-position-y: -700%;
	background-position-x: -700%;
}
#card_307 {
	background-position-y: -700%;
	background-position-x: -800%;
}
#card_308 {
	background-position-y: -700%;
	background-position-x: -900%;
}
#card_309 {
	background-position-y: -800%;
	background-position-x: -0%;
}
#card_310 {
	background-position-y: -800%;
	background-position-x: -100%;
}
#card_311 {
	background-position-y: -800%;
	background-position-x: -200%;
}
#card_312 {
	background-position-y: -800%;
	background-position-x: -300%;
}
#card_313 {
	background-position-y: -800%;
	background-position-x: -400%;
}
#card_314 {
	background-position-y: -800%;
	background-position-x: -500%;
}
#card_315 {
	background-position-y: -800%;
	background-position-x: -600%;
}
#card_316 {
	background-position-y: -800%;
	background-position-x: -700%;
}
#card_317 {
	background-position-y: -800%;
	background-position-x: -800%;
}
#card_318 {
	background-position-y: -800%;
	background-position-x: -900%;
}
#card_319 {
	background-position-y: -900%;
	background-position-x: -0%;
}
#card_320 {
	background-position-y: -900%;
	background-position-x: -100%;
}
#card_321 {
	background-position-y: -900%;
	background-position-x: -200%;
}
#card_322 {
	background-position-y: -900%;
	background-position-x: -300%;
}
#card_323 {
	background-position-y: -900%;
	background-position-x: -400%;
}
#card_324 {
	background-position-y: -900%;
	background-position-x: -500%;
}
#card_325 {
	background-position-y: -900%;
	background-position-x: -600%;
}
#card_326 {
	background-position-y: -900%;
	background-position-x: -700%;
}
#card_327 {
	background-position-y: -900%;
	background-position-x: -800%;
}
#card_328 {
	background-position-y: -900%;
	background-position-x: -900%;
}
#card_329 {
	background-position-y: -0%;
	background-position-x: -1000%;
}
#card_330 {
	background-position-y: -100%;
	background-position-x: -1000%;
}
#card_331 {
	background-position-y: -200%;
	background-position-x: -1000%;
}
#card_332 {
	background-position-y: -300%;
	background-position-x: -1000%;
}
#card_333 {
	background-position-y: -400%;
	background-position-x: -1000%;
}
#card_334 {
	background-position-y: -500%;
	background-position-x: -1000%;
}
#card_335 {
	background-position-y: -600%;
	background-position-x: -1000%;
}
#card_336 {
	background-position-y: -700%;
	background-position-x: -1000%;
}


#card_901,#card_902,#card_903,#card_904 {
	background-position-y: -800%;
	background-position-x: -1000%;
}
#deck_1, .gzs_fd_card_1 {
	background-position-y: -900%;
	background-position-x: -1000%;
}
#deck_2, .gzs_fd_card_2 {
	background-position-y: -1000%;
	background-position-x: -0%;
}
#deck_3, .gzs_fd_card_3 {
	background-position-y: -1000%;
	background-position-x: -100%;
}


